{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="is-active">
                    <a href="/albums/{{ album.id }}" aria-current="page">
                        <span id="breadcrumb-album-label">{{ album.label }}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="title" id="album-title">
            {{ album.label }}
        </h1>

        <div id="edit-album-container">
            {% include "widgets/edit_album_controls.html" %}
        </div>

        <div class="has-text-right is-size-7">
            <span id="photos-count-w">&nbsp;</span>
        </div>

        <div class="photo-gallery-container">
            <div
                id="photo-gallery"
                hx-get="/albums/{{ album.id }}/photo-grid?page=1"
                hx-trigger="load"
                class="photo-grid"
            >
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-light skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
