{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="/" aria-current="page">Home</a></li>
            </ul>
        </nav>

        <h1 class="title">My Buckets</h1>

        <div class="columns is-multiline">
            <div class="column is-one-third-tablet is-full-mobile">
                <a href="/photos" class="bucket-link">
                    <span class="bucket-tile">
                        <span class="icon bucket-icon has-text-info">
                            <i class="fas fa-image"></i>
                        </span>
                        <p>Photos</p>
                    </span>
                </a>
            </div>

            <div class="column is-one-third-tablet is-full-mobile">
                <a href="/documents" class="bucket-link">
                    <span class="bucket-tile">
                        <span class="icon bucket-icon has-text-grey-dark">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        <p>Documents</p>
                    </span>
                </a>
            </div>

            <div class="column is-one-third-tablet is-full-mobile">
                <a href="/videos" class="bucket-link">
                    <span class="bucket-tile">
                        <span class="icon bucket-icon has-text-info">
                            <i class="fas fa-image"></i>
                        </span>
                        <p>Videos</p>
                    </span>
                </a>
            </div>

            <div class="column is-one-third-tablet is-full-mobile">
                <a href="/notes" class="bucket-link">
                    <span class="bucket-tile">
                        <span class="icon bucket-icon has-text-info">
                            <i class="fas fa-note-sticky"></i>
                        </span>
                        <p>Notes</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
